.aibox{
    width: 80%;
    min-height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap:30px;
    background-color: rgb(138, 136, 136);
}
.logo{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}
.aitext{
    width: 70%;
    /* max-width: 80%; */
    border-radius: 10px;
    min-height: 50px;
    background-color: rgb(180, 176, 176);
    padding: 10px;
    text-wrap: wrap;
}
.perbox{
    width: 80%;
    min-height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap:30px;
    background-color: rgb(138, 136, 136);
    margin-left: 20%;
}
.pertext{
    min-width: 70%;
    border-radius: 10px;
    min-height: 50px;
    background-color: rgb(180, 176, 176);
    padding: 10px;
    text-wrap: wrap;
}
.perlogo{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}
.send:hover{
    scale: 1.1;
}